extend layout

block content
  p 
    | Gnomes are said to dwell underground.They originate so it is said from old, many now gone, forests.
    | Their name comes from the Rennaisance latin gnomus which originates in the 16th century.
    | They are said to be reluctant to interact with humans and move easily through the earth beneath us.
    | They are often classified as 'little people' and are considered to be celestial beings although earth elemental.
    
  img(src='https://upload.wikimedia.org/wikipedia/commons/7/72/German_garden_gnome.jpg', width=400)
	
  p
    | Gnomes have appeared in various forms in many literarary and other formats. These include the OZ tales,
    | The Chronicles of Narnia,the Harry Potter stories, Alexander Popes 'Rape of the Lock', and even the Warhammer franchise.
    | The garden gnome is said to derive from the dwarf garden statues of the early 17th century. 
    | The modern day gnome could probably be said to originate from around 1860 in Germany from where the manufacturing of gnomes spread. 
    | They are now produced throughout the world. They are said to help the garden grow at night and obtain magic from the roots of trees. 
    | They are keen to help those that wish to keep the world in balance and help nature on its course.

block sidebar
  .widget
    h1 Widget
    p
      | Gary's Gnome Art site is dedicated to allow people to bring the wonders of gnomes into their houses 
      | while the gnomes themselves can remain in their natural environment.
    
    p
      | It is considered possible that in this way they are able to bring natural balance to your home, 
      | look out for unwanted entities and even tend your house plants.

