doctype html
html
  head
    title #{title} - Gary's Site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Gary's Gnome Art
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus
